@inherits LayoutComponentBase


<HeaderComponet/>
<div class=" bg-info-subtle" style=" height:90vh">
    <FluentGrid Justify="JustifyContent.Center" Class=" p-5">
        @Body
    </FluentGrid>
</div>
<FooterComponent/>


@code {

}
