<FluentFooter Class=" p-3 bg-primary-subtle footer ">

    <span class=" fw-bold">blazer-meet</span>
    <span>📍 Location : United Kindom, Gread London, Ilford </span>
    <span>☎️ Office : +44 20 7654 345 </span>
    <span>✉️ Email : info@blazer-meet.com</span>
    <FluentSpacer/>
    <span><i>build by <strong>@@blazer-meet-group</strong></i></span>

</FluentFooter>

<style>
    .footer{
        position:fixed;
        bottom:0;
        width:100%;
    }
</style>
